
<h1>Spooky Campfire Story</h1>

<p>
	It was a <b>@ViewBag.Adjective01</b> summer day. <b>@ViewBag.Noun01</b> and I were excited to
	go camping at <b>@ViewBag.Place01</b>. It was my first time going there. I packed my favorite
	<b>@ViewBag.Clothing01</b>. It is <b>@ViewBag.Adjective02</b> and <b>@ViewBag.Adjective03</b>.
	 Perfect for camping! On the road we went in out <b>@ViewBag.Adjective04</b> <b>@ViewBag.Adjectove05</b>
	  van! We were listening to <b>@ViewBag.SongTitle01</b> all the way down. The drive was about 5 hours
	  but it was so worth it. When we got there we unpacked the van. I could smell <b>@ViewBag.Food01</b>
	being cooked. It smelled <b>@ViewBag.Adjective06</b>. I <b>@ViewBag.PastTenseVerb01</b> to the room 
	I was staying in with my <b>@ViewBag.Noun02</b>. The next thing I knew,<b>@ViewBag.Noun03</b> came and
	<b>@ViewBag.PastTenseVerb02</b> on the bed. I heard my mom scream, "Get off the bed!" I <b>@ViewBag.PastTenseVerb03</b>
	outside. I saw <b>@ViewBag.Noun04</b>. It was <b>@ViewBag.Noun05</b>. Over the next few days I got to <b>@ViewBag.Verb01</b>
	, <b>@ViewBag.Verb02</b>, and <b>@ViewBag.Verb03</b>. My camping trip was <b>@ViewBag.Adjective07</b>.
</p>
<form asp-controller="Home" asp-action="Index" method="post">
	<button type="submit">Back</button>
</form>